header.header 
  nav.nav.nav_opened.nav_nojs
    button(type="button").nav__toggle.nav__toggle_cross
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.199px" height="22.199px" viewBox="0 0 22.199 22.199" enable-background="new 0 0 22.199 22.199" xml:space="preserve"><polygon points="22.199,2.804 19.396,0 11.1,8.297 2.804,0 0,2.803 8.297,11.1 0,19.396 2.803,22.199 11.1,13.902 19.396,22.199 22.199,19.396 13.903,11.1 "/></svg>
    a.nav__item(href="index.html") Главная
    a.nav__item.nav__item_active(href="photo.html") Фото и видео
    a.nav__item(href="form.html") Форма отзыва
    a.nav__item(href="https://htmlacademy.ru/") HTML Academy
    a.logo(href="index.html")
      picture
        source(media="(min-width: 1200px)", srcset="assets/img/logo-sedona-desktop.svg", type="image/svg+xml", alt="Logo Sedona")
        source(media="(min-width: 768px)", srcset="assets/img/logo-sedona-tablet.svg", type="image/svg+xml", alt="Logo Sedona")
        source(media="(max-width: 768px)", srcset="assets/img/logo-sedona-mobile.svg", type="image/svg+xml", alt="Logo Sedona")
        img(src="assets/img/logo-sedona-tablet.svg", alt="Logo Sedona")
    button(type="button").nav__toggle.nav__toggle_burger
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.928px" height="21.982px" viewBox="0 0 22.928 21.982" enable-background="new 0 0 22.928 21.982" xml:space="preserve"><g><rect width="22.928" height="3.964"/><rect y="9.009" width="22.928" height="3.964"/><rect y="18.018" width="22.928" height="3.964"/></g></svg>

