extends ../layout/main

block variables
  - var title = 'Седона';
  - var description = 'Седона — небольшой городок в Аризоне, заслуживающий большего!';
  - var pageClass = 'form-page';

block content
  section.intro
    img.intro__text(src="assets/img/text-sedona.svg", alt="Welcome to Sedona")
    img.intro__triangle(src="assets/img/bg-intro-triangle-desktop.svg", alt="Triangle")
  section.form 
    