@font-face {
    font-family: "PT Sans";
    src: url(~/assets/fonts/ptsans.woff);
    src: url(~/assets/fonts/ptsans.woff2)
}
@font-face {
    font-family: "PT Sans Bold";
    src: url(~/assets/fonts/ptsansbold.woff);
    src: url(~/assets/fonts/ptsansbold.woff2)
}